{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "Contest" %} #{{contest.id}}
{% endblock %}

{% block header %}
<h1>#{{ contest.id }}. {% block task_name %}Delicious task{% endblock %}</h1>
	<p class="dates">{% trans "Announced" %}: {{ contest.announce_date }}.
		{% trans "Starts on" %}: {{ contest.start_date }} {% trans "Ends on" %}: {{ contest.end_date }}
	{% trans "Fee" %}: {{ contest.entrance_fee }}D. {% trans "Number of contestants" %}: {{ num_contestants }}.
	{% if over %} {% trans "Prize" %}: {% else %} {% trans "Expected prize (at least)" %}: {% endif %} {{ prize }}D.</p>
{% endblock %}

{% block content %}

<div class="contest">


{% if not is_contestant and not over %}
	<p class="alert alert-info"><a class="alert-link" href="{% url 'get_key' contest.id %}">{% trans "Compete!" %}</a></p>
{% endif %}

{% if is_contestant and not authorized and not over %}
	<p class="alert alert-warning">
{% blocktrans with address=contestant.entrance_address %}Please, pay your entrance fee on: {{ address }} and wait for some confirmations.{% endblocktrans %}
{% blocktrans  %}We've already received{%endblocktrans %}: {{ contestant_received }}/{{ contest.entrance_fee }}.
{% blocktrans %}Refresh this page to check if your transaction is already executed.{% endblocktrans %}</p>
{% endif %}

{% if is_contestant and authorized %}
	<p class="alert alert-info">{% blocktrans with hash=contestant.hash %}You're in! Your key: {{ key }}, hash: {{ hash }}{% endblocktrans %}</p>

{% endif %}

{% if won %}

<p class="alert alert-success">{% blocktrans %}Congratulations, you're the winner.{% endblocktrans %}</p>

{% endif %}

{% if won and not free %}
	<h2>{% trans "Prize" %}</h2>
	{% if withdraw_transaction %}
	<p >{% trans "You've already withdrawn your prize" %}. {% trans "Transaction" %}: "{{ withdraw_transaction}}".</p>
	{% else %}
	<p><a href="{% url 'withdraw' key %}">{% trans "Withdraw your prize now!" %}</a></p>
	{% endif %}

{% endif %}

	<h2>{% trans "Task" %}</h2>
	<div class="long_descr">

{% block task_long_descr %}
	<p>Exciting task description</p>
{% endblock %}

{% if over %}
	<h2>{% trans "Results" %}</h2>

	<table class="table">
	<tr>
		<th>{% trans "Contestant" %}</th>
		<th>{% trans "Full score" %}</th>
		<th>{% trans "Last submit" %}</th>
		{% for input in inputs %}
			<th>#{{ input.pk }}</th>
		{% endfor %}
	</tr>
	{% for r in results %}

	<tr>
		<td>{{ r|first|slice:":7" }}...</td>
		{% for cell in r|slice:"1:" %}
		<td>{{ cell }}</td>
		{% endfor %}
	</tr>

	{% empty %}
	<tr><td colspan="{{ input.count|add:"3" }}")>{% trans "Er, no participants? Really?" %}</td></tr>

	{% endfor %}

	</table>

{% endif %}

{% if running and authorized or over %} 
	<h2>{% trans "Input data" %}</h2>

	<ul class="inputs">
	{% for input in inputs %}
		<li>{% trans "Input" %} #{{ input.id }}: 
			<a class="btn btn-xs" href="{% url 'get_input' input.id key %}">
			<span class="glyphicon glyphicon-download"></span> {% trans "Download" %} 
			</a>
			{% if running and authorized %}
			<a class="btn btn-xs" href="{% url 'submit' input.id key %}"> 
			<span class="glyphicon glyphicon-send"></span> {% trans "Submit output" %}
			</a>
			{% endif %}
		</li>

	{% empty %}
		<li>{% trans "Sorry, there are no inputs yet." %}</li>
	{% endfor %}

	</ul>

	<h2>{% trans "Submissions" %}</h2>

	<table class="submissions table">
		<tr>
			<th>{% trans "Date" %}</th>
			<th>{% trans "Input no." %}</th>
			<th>{% trans "Contestant" %}</th>
			<th>{% trans "Hash" %}</th>
			<th>{% trans "Score" %}</th>
		</tr>
	{% for sub in submissions %}
		<tr>
			<td>{{ sub.date }}</td>
			<td>{{ sub.input.pk }}</td>
			<td>{{ sub.contestant.hash |slice:":7"  }}...</td>
			<td style="text-overflow: ellipsis; overflow: hidden; max-width: 30%">{{ sub.hash }}</td>
			<td>{{ sub.score }}</td>
		</tr>
	{% empty %}
		<tr><td colspan="5">{% trans "No submissions." %}</td></tr>
	{% endfor %}
	</table>

{% endif %}

</div>

{% endblock content %}
