{% extends "base.html" %}

{% block title %}
Contest #{{contest.id}}
{% endblock %}

{% block header %}
<h1>#{{ contest.id }}. {% block task_name %}Longest cycle{% endblock %}</h1>
	<p class="dates">Announced: {{ contest.announce_date }}.
		Starts on: {{ contest.start_date }}. Ends on: {{ contest.end_date }}.
	Fee: {{ contest.entrance_fee }}. Number of contestants: {{ num_contestants }}.
	{% if over %} Prize: {% else %} Expected prize (at least): {% endif %} {{ prize }}.</p>
{% endblock %}

{% block content %}

<div class="contest">


{% if not is_contestant and not over %}
	<p class="alert alert-info"><a class="alert-link" href="{% url 'get_key' contest.id %}">Compete!</a></p>
{% endif %}

{% if is_contestant and not authorized and not over %}
	<p class="alert alert-warning">Please, pay your entrance fee on: {{ contestant.entrance_address }} and wait for some confirmations. We've already received: {{ contestant_received }}/{{ contest.entrance_fee }}. Refresh this page to check if your transaction is already executed.</p>
{% endif %}

{% if is_contestant and authorized %}
	<p class="alert alert-info">You're in! Your key: {{ key }}, hash: {{ contestant.hash }}</p>

{% endif %}

{% if won %}

<p class="alert alert-success">Congratulations, you're the winner.</p>

{% endif %}

{% if won and not free %}
	<h2>Prize</h2>
	{% if withdraw_transaction %}
	<p >You've already withdrawn your prize. Transaction: "{{ withdraw_transaction}}".</p>
	{% else %}
	<p><a href="{% url 'withdraw' key %}">Withdraw your prize now!</a></p>
	{% endif %}

{% endif %}

	<h2>Task</h2>
	<div class="long_descr">

{% block task_long_descr %}
		<p>It's not easy to find the longest cycle in a general graph. You're given a simple  graph (<i>i.e.</i> undirected, without multiedges and loops). Your task is to find a simple cycle in it (a path that begins and ends in the same vertex, but goes through any edge and vertex at most once). Remember, the longer cycle you find, the more points you get.</p>

		<p>Vertices are numbered from 1. You can assume, there exists at least one cycle of length at least 3 in each input graph.</p>

		<p><b>Input:</b> In the first line there are numbers <i>n</i> and <i>m</i> - the number of vertices and edges. In the next <i>m</i> lines follow integers <i>a</i> and <i>b</i>, which mean, that an edge connects vertices <i>a</i> and <i>b</i>.</p>
		<p><b>Output:</b> The correct output consists of two lines. The first contains the length of the cycle you've found, and the next should be the list of numbers of subsequent vertices.</p>
	</div>
{% endblock %}

{% if over %}
	<h2>Results</h2>

	<table class="table">
	<tr>
		<th>Contestant</th>
		<th>Full score</th>
		<th>Last submit</th>
		{% for input in inputs %}
			<th>#{{ input.pk }}</th>
		{% endfor %}
	</tr>
	{% for r in results %}

	<tr>
		<td>{{ r|first|slice:":7" }}...</td>
		{% for cell in r|slice:"1:" %}
		<td>{{ cell }}</td>
		{% endfor %}
	</tr>

	{% empty %}
	<tr><td colspan="{{ input.count|add:"3" }}")>Er, no participants? Really?</td></tr>

	{% endfor %}

	</table>

{% endif %}

{% if running and authorized or over %} 
	<h2>Input data</h2>

	<ul class="inputs">
	{% for input in inputs %}
		<li>Input #{{ input.id }}: 
			<a href="{% url 'get_input' input.id key %}">Download</a>
			{% if running and authorized %}
			<a href="{% url 'submit' input.id key %}">Submit output</a>
			{% endif %}
		</li>

	{% empty %}
		<li>Sorry, there are no inputs yet.</li>
	{% endfor %}

	</ul>

	<h2>Submissions</h2>

	<table class="submissions table">
		<tr>
			<th>Date</th>
			<th>Input no.</th>
			<th>Contestant</th>
			<th>Hash</th>
			<th>Score</th>
		</tr>
	{% for sub in submissions %}
		<tr>
			<td>{{ sub.date }}</td>
			<td>{{ sub.input.pk }}</td>
			<td>{{ sub.contestant.hash |slice:":7"  }}...</td>
			<td style="text-overflow: ellipsis; overflow: hidden; max-width: 30%">{{ sub.hash }}</td>
			<td>{{ sub.score }}</td>
		</tr>
	{% empty %}
		<tr><td colspan="5">No submissions.</td></tr>
	{% endfor %}
	</table>

{% endif %}

</div>

{% endblock content %}
