<div class="contest">

	<h1>#{{ contest.id }}. {% block task_name %}Longest cycle{% endblock %}</h1>
	<p class="dates">Announced: {{ contest.announce_date }}, 
		starts at: {{ contest.start_date }}, ends at: {{ contest.end_date }}</p>
	<p class="short_info">Fee: {{ contest.entrance_fee }}, current contestants: {{ cur_contestants }}</p>

{% if not is_contestant and not over %}
	<p class="enter"><a href="{% url 'get_key' contest.id %}">Compete!</a></p>
{% endif %}

{% if is_contestant and not authorized and not over %}
	<p class="unauthorized">We haven't received your entrance fee. Pay on: {{ contestant.entrance_address }} and wait for some confirmations. After that reload the page. There's no autorefresh.</p>
	<p class="received">{{ contestant_received }}/{{ contest.entrance_fee }}</p>
{% endif %}

{% if is_contestant and authorized %}
	<p>You're in! Your key: {{ key }}, hash: {{ contestant.hash }}</p>

{% endif %}

	<div class="long_descr">
{% block task_long_descr %}
		<p>It's not easy to find the longest cycle in a general graph. You're given a simple  graph (i.e. undirected, without multiedges and loops). Your task is to find a simple cycle in it (a path that begins and ends in the same vertex, but goes through any edge and vertex at most once). Remember, the longer cycle you find, the more points you get.</p>

		<p>Vertices are numbered from 1. You can assume, that there exist at least a cycle of length 2 in each input graph.</p>

		<p><b>Input:</b> Numbers <i>n</i> and </i>m</i> - the number of vertices and edges. In the next <i>m</i> lines follow integers <i>a</i> and <i>b</i>, which mean, that an edge connects vertex <i>a</i> and <i>b</i>.</p>
		<p><b>Output:</b> The correct output consists of two lines. The first contains the length of the cycle you've found, and the next should be the list of numbers of subsequent vertices.</p>
	</div>
{% endblock %}

{% if won %}

<p>Congratulations, you're the winner.</p>

	{% if withdraw_transaction %}
	<p>You've already withdrawn your prize. Transaction: "{{ withdraw_transaction}}".</p>
	{% else %}
	<p><a href="{% url 'withdraw' key %}">Withdraw your prize now!</a></p>
	{% endif %}

{% endif %}

{% if over %}
	<h2>Results</h2>

	<table>
	<tr>
		<th>Contestant</th>
		<th>Full score</th>
		<th>Last submit</th>
		{% for input in inputs %}
			<th>#{{ input.pk }}</th>
		{% endfor %}
	</tr>
	{% for r in results %}

	<tr>
		{% for cell in r %}
		<td>{{ cell }}</td>
		{% endfor %}
	</tr>

	{% empty %}
	<tr><td>Er, no participants? Really?</td></tr>

	{% endfor %}

	</table>

{% endif %}

{% if running and authorized or over %} 
	<h2>Input data</h2>

	<ul class="inputs">
	{% for input in inputs %}
		<li>Input #{{ input.id }}: 
			<a href="{% url 'get_input' input.id key %}">Download</a>
			{% if running and authorized %}
			<a href="{% url 'submit' input.id key %}">Submit output</a>
			{% endif %}
		</li>

	{% empty %}
		<li>Sorry, there are no inputs yet.</li>
	{% endfor %}

	</ul>

	<h2>Submissions</h2>

	<table class="submissions">
		<tr>
			<th>Date</th>
			<th>Input no.</th>
			<th>Contestant</th>
			<th>Hash</th>
			<th>Score</th>
		</tr>
	{% for sub in submissions %}
		<tr>
			<td>{{ sub.date }}</td>
			<td>{{ sub.input.pk }}</td>
			<td>{{ sub.contestant.hash |slice:":7"  }}...</td>
			<td>{{ sub.hash }}</td>
			<td>{{ sub.score }}</td>
		</tr>
	{% empty %}
		<tr><td colspan="4">Be the first to submit your output!</td></tr>
	{% endfor %}
	</ul>

{% endif %}

{% if over %}
	<h2>Results</h2>

	<table>
	</table>
{% endif %}

</div>


